<%- include("partials/header") %>

<div class="container">
	<div class="row mt-4">
		<div class="col-6 show_image-container">
			<img src="<%= book.image_link %>">
		</div>
		<div class="col-6 show_details-container">
			<h1><%= book.title %></h1>
			<p><%= book.description %></p>
			<table class="table">
			  <tbody>
				<tr>
				  <th scope="row">Author</th>
				  <td><%= book.author %></td>
				</tr>
				<tr>
				  <th scope="row">Genre</th>
				  <td><%= book.genre %></td>
				</tr>
			  </tbody>
			</table>
			<% if (user && user.username === book.owner.username) { %>
			
				<a href="/books/<%= book._id %>/edit">
					<button class="btn btn-outline-info btn-lg btn-block mb-2">Edit</button>
				</a>
				<form action="/books/<%= book._id %>?_method=DELETE" method="POST">
					<button type="submit" class="btn btn-outline-danger btn-lg btn-block mb-2">Delete</button>
				</form>	
			<% } %>
		</div>
	</div>
	<div class="row">

		<div class="col-2 mt-2 mb-2">
			<% if (user) { %>
				<button id="upvote-btn" class=" btn btn-outline-success">+</button>
			<% } %>
			<span>10</span>
			<% if (user) { %>
				<button id="downvote-btn" class=" btn btn-outline-danger">-</button>
			<% } %>
		</div>
	</div>

	<% if (user) { %>
		<a href="/books/<%= book._id %>/comments/new"><button class="btn btn-success btn-lg mb-4">Add Comment</button></a>
	<% } %> 
	<% comments.forEach((comment => { %>
	<div class="media mb-4">
	  <div class="media-body border pl-2 pt-1">
		<h5 class="mt-0"><%= comment.user.username %></h5>
		<p class="col-9 p-0"><%= comment.text %></p>
		<div class="btn-group" role="group" aria-label="Basic example">
		<% if (user && comment.user.username === user.username) { %>
			  <form >
				<a href="/books/<%= book._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-outline-info mr-1">Edit</a>
			  </form>
			  <form action="/books/<%= book._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
				<button class="btn btn-sm btn-outline-danger">Delete</button> 
			  </form>  
		<% } %>
		</div>
	  </div>
	</div>
	<% })) %>
</div>
<script src="/js/books_show.js"></script>
<%- include("partials/footer") %>